*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111;
  color: gainsboro;
  overflow-x: hidden;
}

#string {
  width: 100%;
}
