*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5px;
  z-index: 9;
}

#image {
  background-color: red;
  height: 30vw;
  width: 70vw;
  position: relative;
  cursor: pointer;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 10;
}

#image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
